### 1. ARITHMETIC OPERATION

### Simple Arithmetic

In [ ]:
a=5
b=6
c=a+b
print(c)

11

### Simple Arithmetic - Get input from User (+,-,*,%)

In [ ]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
add=a+b
print(add)

Enter the value of a: 1.1
Enter the value of b: 2.2
3.3000000000000003

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("ADD:",add)
print("Sum: {0}, Diff: {1}, Mult: {2}, Div:{3}, Mod:{4}".format(add,sub,mult,div,mod)) #Print using Format

Enter the value of a: 1
Enter the value of b: 2
ADD: 3
Sum: 3, Diff: -1, Mult: 2, Div:0.5, Mod:1

In [ ]:
print("Sum: %d, Diff: %d, Mult: %d, Div:%15.6f, Mod:%d"%(add,sub,mult,div,mod)) #Print using PADDING & PRECISION

Sum: 3, Diff: -1, Mult: 2, Div:       0.500000, Mod:1

In [ ]:
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format('Sum','Diff','Mult','Div'))
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format(add,sub,mult,div))

Sum  | Diff | Mult |  Div
3    |  -1  |  2   |  0.5

### Simple Arithmetic - Get input from User (power)

In [ ]:
a=2
b=3
power=a**b #Power
print(power)

8

### 2. STRINGS

### Create String

In [ ]:
a = 'Python'
b = "Bootcamp"
print(a+b)

PythonBootcamp

### Length of String

In [ ]:
a="Champ"
print(len(a))

5

In [ ]:
a="S"
b=a*5
print(b)

SSSSS

### String Index

In [ ]:
a="champ"
print(a[3]) #identifing the element based on index
print(a[2:]) #Grab the remaing elements except upto the Index
print(a[:2]) #Grab the elements upto the Index
print(a[-1]) #Grab the Last element
print(a[:-1]) #Grab the elements except last element
print(a[::2]) #Grab everything with 2 steps
print(a[::-1]) #Print string backwards

m
amp
ch
p
cham
cap
pmahc

### String Functions

In [ ]:
a="Master Python"
print(a.upper()) #Changing to Upper case
print(a.lower()) #Changing to Lowerb= a.split() case

MASTER PYTHON
master python

In [ ]:
b= a.split() #Splitting String
print(b)
print(b[1]) #Printing the splitting string based on Index

['Master', 'Python']
Python

In [ ]:
c="ElonMusk,SteveJobs,BillGates"
d=c.split(",") #Splitting string based on Delimitter
print(d)
print(d[1])

['ElonMusk', 'SteveJobs', 'BillGates']
SteveJobs

In [ ]:
a="Master Class"
print(f"Welcome to Python {a} !") #Formatting string Literals

Welcome to Python Master Class !

### 3. LIST

### Create List

In [ ]:
a = [1,2,3,4,5]
b = ["Champ",21,99.5]
print(a,b)
print(len(b)) #Length of List
print(b[0]) #Locate list element based on Index
print(a[1:]) #print elements except 1st
print(a[:2]) #Print elements upto 2nd element
print(a+b) #Concatenate 2 list

[1, 2, 3, 4, 5] ['Champ', 21, 99.5]
3
Champ
[2, 3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5, 'Champ', 21, 99.5]

In [ ]:
a = [1,2,3,4,5]
a.append(6) #inserting new elements to the existing list
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1,2,3,4,5]
a.reverse() #Reverse list
print(a)
print(min(a)) #Minimum
print(max(a)) #Maximum

[5, 4, 3, 2, 1]
1
5

In [ ]:
a = [1,2,3,4,5]
from random import shuffle
shuffle(a)
a

[3, 4, 5, 1, 2]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[a,b] #Nested List Matrix
print(c)
print(c[0]) #Printing row
print(c[0][0]) #Printing 1st element

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
1

### 4. DICTIONARIES

### Creating Dictionary : Key & Value

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
a

{'Name': 'Elon', 'Age': 50, 'Company': ['SpaceX', 'Tesla']}

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
print(a["Name"]) #Printing value based on its Key
a["Age"]= 51 #Changing values
a

Elon

{'Name': 'Elon', 'Age': 51, 'Company': ['SpaceX', 'Tesla']}

In [ ]:
b={"Climate":{"Condition":{"Temperature":"38 Degree","Humidity":"70 Percentage"}}}
print(b["Climate"]["Condition"]["Humidity"])

70 Percentage

In [ ]:
print(a.keys()) #Printing Keys of the Dictionaries
print(a.values()) #Printing Values of the Dictionaries
print(a.items()) #Printing Tuple of the all items

dict_keys(['Name', 'Age', 'Company'])
dict_values(['Elon', 51, ['SpaceX', 'Tesla']])
dict_items([('Name', 'Elon'), ('Age', 51), ('Company', ['SpaceX', 'Tesla'])])

### 5. TUPLES

### Creating Tuples

In [ ]:
a = ("Champ",21,99.5)
a

('Champ', 21, 99.5)

In [ ]:
print(len(a)) #Length of tuple
print(a[0]) #Printing elements from tuple via index
print(a.index("Champ")) #Getting Index of Elements

3
Champ
0

### 6. SETS

### Creating Set

In [ ]:
a = set()

In [ ]:
a.add("Champ")
a

{'Champ'}

In [ ]:
a.add(30)
a

{30, 'Champ'}

In [ ]:
b = ["Champ",21,99.5]
set(b)

{21, 99.5, 'Champ'}

### 7. BOOLEAN

### Creating Boolean

In [ ]:
a = True

In [ ]:
a = 10
b = 5
c=15
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b and c>a)
print(a<b or c>a)

False
True
False
True
False
True
False
True

### 8.Python Statements

### If

In [ ]:
a = True
if a:
  print("Positive")
else:
  print("negative")

Positive

In [ ]:
a=10
b=6
c=6

if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
  print("a is not less than b")
  if c<a:
    print("c is less than b")
else:
  print("a is not less than b")

a is equal to b
a is not less than b
c is less than b

### For

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = [i for i in 'Champ']
a

['C', 'h', 'a', 'm', 'p']

###Odd & Even Number

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i % 2 == 0:
    print(i,"Even Number")
  else:
    print(i,"Odd Number")

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number

###String - For

In [ ]:
for a in "Hello all":
  print(a)

H
e
l
l
o

a
l
l

###Dictionary - For

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
for k,v in a.items():
  print(k)
  print(v)

Name
Elon
Age
50
Company
['SpaceX', 'Tesla']

###While

In [ ]:
a=0
while a <11:
  print(a)
  a+=1 #a=a+1

0
1
2
3
4
5
6
7
8
9
10

### While - Break & Continue

In [ ]:
a=0
while a < 10:
  print(a)
  a+=1
  if a==5:
    print("a is equal to 5")
    break
  else:
    print("Continueeee")
    continue

0
Continueeee
1
Continueeee
2
Continueeee
3
Continueeee
4
a is equal to 5

###Range

In [ ]:
for a in range (6):
  print(a)

0
1
2
3
4
5

In [ ]:
for a in range (1,10,1):
  print(a)

1
2
3
4
5
6
7
8
9

In [ ]:
for a in range (10,0,-3):
  print(a)

10
7
4
1

In [ ]:
a = [i**2 for i in range(0,5)]
a

[0, 1, 4, 9, 16]

In [ ]:
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

### Enumerate - To track no. of iteration in the loop, without working with variable increament

In [ ]:
a=0
for i,a in enumerate("Hello Champ"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 C
7 h
8 a
9 m
10 p

### Zip - Creating a tuples by zipping 2 list

In [ ]:
a = ["Name","Age","Country"]
b = ["Champ",27,"India"]
list(zip(a,b))

[('Name', 'Champ'), ('Age', 27), ('Country', 'India')]

##9. Function

###Initializing & Calling basic function

In [ ]:
def welcome():
  print("Hello guyz Welcome to Python Bootcamp !!!")

In [ ]:
welcome()

Hello guyz Welcome to Python Bootcamp !!!

###Initializing & Calling basic function - With Argument

In [ ]:
def welcome(a):
  print("Hello {0},Welcome to Python Bootcamp !!!".format(a))

In [ ]:
welcome("Champ")

Hello Champ,Welcome to Python Bootcamp !!!

###Print & Return

In [ ]:
def add(a,b):
  add = a+b
  print("Sum of {0} and {1} is {2}".format(a,b,add))

In [ ]:
def addR(a,b):
  add = a+b
  return add

In [ ]:
ans = addR(45,5)
final = ans*500
final

25000

## Practice Project - Extracting Prime no.

In [ ]:
def check(numbers):
    primeNumber = []
    for number in numbers:
      if number>1:
        for i in range(2, int(number/2)+1):
          if (number % i) == 0:#If number is divisible by any number between 2 and number / 2, it is not prime
              print(number, "is not a prime number")
              break
        else:
          print(number, "is a prime number")
          primeNumber.append(number)
      else:
        pass
    return primeNumber

In [ ]:
check([2,3,4,5,6,7,8,9])

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number

[2, 3, 5, 7]

## 10 Map Function - Map a function to an iterable object

In [ ]:
def cubeFn(num):
    return num**3

In [ ]:
a = [1,2,3,4,5]
list(map(cubeFn,a))

[1, 8, 27, 64, 125]

##11. Filter Functions - Yields items of iterable in which function is true

In [ ]:
def evenFn(num):
    return num % 2 == 0

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))
print(list(filter(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

## 12. Lambda Fn - To create anonymous functions, without using def

In [ ]:
#Normal Fn
def cubeFn(num):
    return num**3
cubeFn(6)

216

In [ ]:
# LAMBDA
cubefn = lambda num: num**3
cubefn(5)

125

##13. *args and **kwargs

In [ ]:
#Normal Fn. with Arguements
def addR(a,b,c,d):
  add = a+b+c
  return add
addR(10,20,30,40)

60

In [ ]:
#Purpose of args
def addR(*argg):
  return sum(argg)
addR(10,20,30,40,52,75,8,5,26,15)

281

## **Kwargs - dictionary of key/value pairs

In [ ]:
def func(**kwargs):
    if 'name' in kwargs:
        print("My Name is {0}".format(kwargs['name']))
    if 'age' in kwargs:
        print("My Age is {0}".format(kwargs['age']))
    else:
        print("No Key Found")
        
func(name='champ',age=24,marks=99)

My Name is champ
My Age is 24

## 14. Object Oriented Programming

##Class

### User defined objects created x using Class- Initializing Class

In [ ]:
class Student:
  print("Hello All")
x = Student() #Object Instantiation
print(type(x))

Hello All
<class '__main__.Student'>

In [ ]:
class Student:
  def func():
    print("Hello all welcome to the session")
Student.func()

Hello all welcome to the session

In [ ]:
class Student:
  def func(self):
    print("Hello all welcome to the session")
x = Student()
x.func()

Hello all welcome to the session

###Class Object attribute - same for any instance of the class

In [ ]:
class Student:
  year = '2021'
  def func():
    print("Hello all welcome to the session")
x = Student()
x.year

'2021'

In [ ]:
class Student:
  year = '2021'
  def func(self):
    print("Hello all welcome to the session", self.year)
x = Student()
x.func()

Hello all welcome to the session 2021

### Attribute of an Object (characteristic of an object) Attribute won't take any argument

In [ ]:
class Student:
    def __init__(self,name): #__init__ (Method) to initialize attribute of an object (Constructor)
        self.name = name #self.name = attribute initialized
 #(Creating Instance of Student class{Object of certain class})       
elon = Student(name='Elon Musk !') #name: argument

print(elon.name) #accessing class attribute through object

Elon Musk !

In [ ]:
class Student:
    def __init__(self,name): 
        self.name = name 
elon = Student(name='Elon Musk !')
champ = Student(name='I am Champ !')

print(elon.name) 
print(champ.name)

Elon Musk !
I am Champ !

In [ ]:
class Student:
    def __init__(self,name,age): 
        self.name = name 
        self.age = age
elon = Student(name='Elon Musk !',age=40) 

print(elon.name)
print(elon.age)

Elon Musk !
40

In [ ]:
class Student:
    Total = 500

    def __init__(self, marks):
        self.marks=marks
        print("Initialized...")

    def findLoss(self):
        return self.Total - self.marks

    def findPercentage(self):
        return self.marks/self.Total*100
        
a = Student(marks=450)

print('Total Marks: ',a.Total)
print('Lossed Marks: ',a.findLoss())
print('Percentage is: ',a.findPercentage())

Initialized...
Total Marks:  500
Lossed Marks:  50
Percentage is:  90.0

##Special Methods

In [ ]:
class Student:
    Total = 500

    def __init__(self, name,marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")

    def __len__(self):
        return self.marks

    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender)

    def __del__(self):
        print("Student Database is Deleted")
        
a = Student('champ',450,'male')

print(a)
print('Marks: ',len(a))
del a

Initialized...
Name: champ | Marks: 450 | Gender: male
Marks:  450
Student Database is Deleted

##Inheritance - Help to reduce complexity of the program

Base Class & Derived Class

In [ ]:
class Elon:
    def __init__(self):
        print("Profile created")

    def name(self):
        print("Elon Musk")

    def age(self):
        print("40")


class SpaceX(Elon):
    def __init__(self):
        Elon.__init__(self)
        print("Company Profile created")

    def name(self):
        print("SpaceX")

    def type(self):
        print("Private Space travel")

In [ ]:
a = SpaceX()

Profile created
Company Profile created

In [ ]:
a.name() #Derived class modified behavior of base class

SpaceX

In [ ]:
a.age()

40

##Polymorphism

Different object classes can share the same method name, and those methods can be called from the same place even though a different objects passed in

In [ ]:
class Elon:
    def __init__(self,name):
        self.name = name
    def type(self):
        return "Entrepreneur"
class Sundar:
    def __init__(self,name):
        self.name = name
    def type(self):
        return "CEO"
          
person1 = Elon('Elon Musk') #name: argument
person2 = Sundar('Sundar Pichai')

In [ ]:
#returning unique result of object which have same method(type)
print(person1.type())
print(person2.type())

Entrepreneur
CEO

In [ ]:
for i in [person1,person2]:
  print(i.name)
  print(i.type())
  print("**************")

Elon Musk
Entrepreneur
**************
Sundar Pichai
CEO
**************