<a href="https://colab.research.google.com/github/fatimashaista/Python/blob/main/Python_bootcamp_day_4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9. Function

### Initializing & Calling basic function

In [ ]:
def welcome():
  print("Welcome to python bootcamp!!!")

In [ ]:
welcome()

Welcome to python bootcamp!!!

###Initializing & calling basic function with Arguments

In [ ]:
def welcome(a):
  print("Hello  {0},Welcome to NGCC python bootcamp!!!". format(a))

In [ ]:
welcome(" champ")

Hello   champ,Welcome to NGCC python bootcamp!!!

#Print & Return

In [ ]:
def add(a,b):
  add=a+b
  print("sum of {0} and {1} is {2}".format(a,b,add))

In [ ]:
add(10,6)

sum of 10 and 6 is 16

In [ ]:
def addR(a,b):
  add=a+b
  return add

In [ ]:
 addR(45,5)

50

#Practice Project-Extracting prime number

In [ ]:
def check(numbers):
    primeNumber = [] 
    for number in numbers:
      if number>1:
        for i in range(2, int(number/2)+1):
          if(number%i)==0:
            print(number,"is not a prime number")
            break
        else: 
          print(number,"is  a prime number") 
          primeNumber.append(number)
      else:
        pass   
    return primeNumber

In [ ]:
check([2,3,4,5,6,7,8,9])

2 is  a prime number
3 is  a prime number
4 is not a prime number
5 is  a prime number
6 is not a prime number
7 is  a prime number
8 is not a prime number
9 is not a prime number

[2, 3, 5, 7]

#10 Map Function-Map a function to an iterable object

### Map Function with the list

In [ ]:
def cubeFn(num):
    return num**3

In [ ]:
a=[1,2,3,4,5]
list(map(cubeFn,a))

[1, 8, 27, 64, 125]

# 11.Filter Functions-Yields items of iterable in which is true

In [ ]:
def evenFn(num):
    return num%2==0

In [ ]:
a=[0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))
print(list(filter(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

# 12.Lambda Fn-To create anonymous funxtions,without using def

In [ ]:
#Normal Fn
def cubeFn(num):
    return num**3
cubeFn(3)

27

In [ ]:
#LAMDA
cubeFn=lambda num:num**3
cubeFn(5)

125

## 13. args and Kwargs

In [ ]:
# Normal function with Arguments
def addR(a,b,c):
  add=a+b+c
  return add
addR(10,20,30)

60

In [ ]:
#Purpose of args
def addR(*argg):
  return  sum(argg)
addR(10,20,30,40,52,75,8,5,26,15)

281

#kwargs-dictionary of Key/value pair

In [ ]:
def func(**kwargs):
    if 'name' in kwargs:
       print("My name is {0}".format(kwargs['name']))
    if 'age' in kwargs:
        print("My age is {0}".format(kwargs['age']))
    else:
        print(" No key found")
func(name='champ',age=24,cgpa=93)

My name is champ
My age is 24

# 14. Object Oriented Programming

### Class

### User defined Objects Created X using class-initializing class

In [ ]:
class Student1:
  print("HELLO ALL")
x = Student1() #Object Instantiation 
print(type(x))

HELLO ALL
<class '__main__.Student1'>

In [ ]:
class Student:
  def func():
    print("Hello all welcome to the session")
Student.func()

Hello all welcome to the session

In [ ]:
class Student:
  def func(self):
    print("Hello all welcome to the session")
x = Student()
x.func()

Hello all welcome to the session

##Class Object attribute - same for any instance of the class

In [ ]:
class Student:
  year = '2021'
  def func():
    print("Hello all welcome to the session")
x = Student()
x.year

'2021'

In [ ]:
class Student:
  year = '2021'
  def func(self):
    print("Hello all welcome to the session", self.year)
x = Student()
x.func()

Hello all welcome to the session 2021

###Attribute of an Object (characteristic of an object) Attribute won't take any argument

In [ ]:
class Student:
    def __init__(self,name): #__init__ (Method) to initialize attribute of an object (Constructor)
        self.name = name #self.name = attribute initialized
 #(Creating Instance of Student class{Object of certain class})       
elon = Student(name='Elon Musk !') #name: argument

print(elon.name) #accessing class attribute through object

Elon Musk !

In [ ]:
class Student:
    def __init__(self,name): 
        self.name = name 
elon = Student(name='Elon Musk !')
champ = Student(name='I am Champ !')

print(elon.name) 
print(champ.name)

Elon Musk !
I am Champ !

In [ ]:
class Student:
    def __init__(self,name,age): 
        self.name = name 
        self.age = age
elon = Student(name='Elon Musk !',age=40) 

print(elon.name)
print(elon.age)

Elon Musk !
40

In [ ]:
class Student:
    Total = 500

    def __init__(self, marks):
        self.marks=marks
        print("Initialized...")

    def findLoss(self):
        return self.Total - self.marks

    def findPercentage(self):
        return self.marks/self.Total*100
        
a = Student(marks=450)

print('Total Marks: ',a.Total)
print('Lossed Marks: ',a.findLoss())
print('Percentage is: ',a.findPercentage())

Initialized...
Total Marks:  500
Lossed Marks:  50
Percentage is:  90.0

###Assigining  more than one variable or attributes

In [ ]:
class Student:
    Total = 500

    def __init__(self, name,marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")

    def __len__(self):
        return self.marks

    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender)

    def __del__(self):
        print("Student Database is Deleted")
        
a = Student('champ',450,'male')

print(a)
print('Marks: ',len(a))

Initialized...
Name: champ | Marks: 450 | Gender: male
Marks:  450

###Inheritance - Help to reduce complexity of the program parent & child form

### Base Class & Derived Class

In [ ]:
class Elon:
    def __init__(self):
        print("Profile created")

    def name(self):
        print("Elon Musk")

    def age(self):
        print("40")


class SpaceX(Elon):
    def __init__(self):
        Elon.__init__(self)
        print("Company Profile created")

    def name(self):
        print("SpaceX")

    def type(self):
        print("Private Space travel")

In [ ]:
a= SpaceX()

Profile created
Company Profile created

In [ ]:
a.name() #Derived class modified behavior of base class

SpaceX

In [ ]:
a.age()

40

##Polymorphism

#####Different object classes can share the same method name, and those methods can be called from the same place even though a different objects passed in

In [ ]:
class Elon:
    def __init__(self,name):
        self.name = name
    def type(self):
        return "Entrepreneur"
class Sundar:
    def __init__(self,name):
        self.name = name
    def type(self):
        return "CEO"
          
person1 = Elon('Elon Musk') #name: argument
person2 = Sundar('Sundar Pichai')

In [ ]:
#returning unique result of object which have same method(type)
print(person1.type())
print(person2.type())

Entrepreneur
CEO

In [ ]:
for i in [person1,person2]:
  print(i.name)
  print(i.type())
  print("**************")

Elon Musk
Entrepreneur
**************
Sundar Pichai
CEO
**************

###15 .Python Decorators-Functions which modify the functionality of another function/class

In [ ]:

'''@decName
 def func():
  print("statement")

 EQUAL TO
 
 def func():
    print("statement")

 func = decName(func)'''

In [ ]:

'''@decName
def func():
    print("statement")

EQUAL  TO 

def func():
    print("statement")

func = decName(func)'''

##Function as Object

In [ ]:
def welcome(a):
   print("Hello {0}, welcome to python bootcamp!!!".format(a))

In [ ]:
a=welcome #No paranthesis if its parenthesis it is called as function-FUNCTION AS OBJECT
a("champ")

Hello champ, welcome to python bootcamp!!!

### FUNCTION IN VARIABLE

In [ ]:
def lowercase(text):
     return text.lower()
def uppercase(text):
     return text.upper()
def a(welcome):
    message=welcome(" Hello all welcome to python bootcamp") #Function in variable
    print(message)
a(lowercase)
a(uppercase)

 hello all welcome to python bootcamp
 HELLO ALL WELCOME TO PYTHON BOOTCAMP

###RETURNING FUNCTION FROM ANOTHER FUNCTION

In [ ]:
def addMain(a):
 def addSub(b):
    print(a,b)
    return a+b
 return addSub

addition=addMain(100)
print(addition(75))

100 75
175

###16 python Generators-To generate as we go along,instead of holding everything in memory and generator functions will automatically suspend and resume their executation and state around the last point of value generation.This feature is known as state suspention.

In [ ]:
def Square(n):
   for i in range(n):
      yield i**2

In [ ]:
for n in Square(10):
   print(n)

0
1
4
9
16
25
36
49
64
81

### Builtin  Function-next

In [ ]:
def Square():
    for i in range(n):
       yield i**2

In [ ]:
a=Square()

In [ ]:
print(next(a))

NameError: ignored

### Built Function-iter

In [ ]:
a= "champ"
for i in a:
     print(i)

c
h
a
m
p