<a href="https://colab.research.google.com/github/fatimashaista/Python/blob/main/python_bootcamp_day2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic PYTHON

###Arithmetic

In [ ]:
a=5
b=6
c=a+b
print(c)

11

In [ ]:
d=a*b
print(d)

30

#Simple Arithmetic - Get input from User (+,-,*,%)

In [ ]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
add=a+b
print(add)

Enter the value of a: 2.3
Enter the value of b: 4.2
6.5

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print(add)
print("ADD:",add)
print("Sum: {0}, Diff: {1}, Mult: {2}, Div:{3}, Mod:{4}".format(add,sub,mult,div,mod)) #Print using Format

Enter the value of a: 3
Enter the value of b: 4
7
ADD: 7
Sum: 7, Diff: -1, Mult: 12, Div:0.75, Mod:3

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("ADD:",add)
print("Sum: {0}, Diff: {1}, Mult: {2}, Div:{3}, Mod:{4}".format(add,sub,mult,div,mod)) #Print using Format
print("Sum: %d, Diff: %d, Mult: %d, Div:%15.2f, Mod:%d"%(add,sub,mult,div,mod)) #Print using PADDING & PRECISION

Enter the value of a: 5
Enter the value of b: 4
ADD: 9
Sum: 9, Diff: 1, Mult: 20, Div:1.25, Mod:1
Sum: 9, Diff: 1, Mult: 20, Div:           1.25, Mod:1

In [ ]:
print("Sum: %d, Diff: %d, Mult: %d, Div:%15.3f, Mod:%d"%(add,sub,mult,div,mod)) #Print using PADDING & PRECISION

In [ ]:
a = (input("Enter the value of a: "))
b = (input("Enter the value of b: "))
add=a+b
print(add)

Enter the value of a: 7
Enter the value of b: 3
73

###Left Allign, Right Allign,Center Align

In [ ]:
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format('Sum','Diff','Mult','Div'))
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format(add,sub,mult,div))

Sum  | Diff | Mult |  Div
73   |  1   |  20  | 1.25

#Simple Arithmetic - Get input from User (power)

In [ ]:
a=5
b=2
power=a**b #Power
print(power)

25

#2. STRINGS

###Create String

In [ ]:
a = 'Python'
b = "Bootcamp"
print(a+b)

PythonBootcamp

In [ ]:
a = 'Python'
b = "Bootcamp"
print(a)
print(b)

Python
Bootcamp

#Length of String

In [ ]:
a="Champ"
print(len(a))

5

In [ ]:
a="S"
b=a*3
print(b)

SSS

##String Index

In [ ]:
a="champ"
print(a[3]) #identifing the element based on index
print(a[3:]) #Grab the remaing elements except upto the Index
print(a[:2]) #Grab the elements upto the Index
print(a[-1]) #Grab the Last element
print(a[:-1]) #Grab the elements except last element
print(a[::2]) #Grab everything with 2 steps
print(a[::-1]) #Print string backwards

m
mp
ch
p
cham
cap
pmahc


#String Functions

In [ ]:
a="Master Class"
print(a.upper()) #Changing to Upper case
print(a.lower()) #Changing to Lowerb= a.split() case

MASTER CLASS
master class

In [ ]:
b= a.split() #Splitting String
print(b)
print(b[1]) #Printing the splitting string based on Index
print(b[0])

['Master', 'Class']
Class
Master

In [ ]:
c="ElonMusk,SteveJobs,BillGates"
d=c.split(",") #Splitting string based on Delimitter
print(d)
print(d[2])

['ElonMusk', 'SteveJobs', 'BillGates']
BillGates

In [ ]:
a="Master Class"
print(f"Welcome to Python {a} !") #Formatting string Literals

Welcome to Python Master Class !

#3. LIST

###Create List

In [ ]:
a = [1,2,3,4,5]
b = ["Champ",21,99.5]
print(a,b)
print(len(b)) #Length of List
print(b[0]) #Locate list element based on Index
print(a[1:]) #print elements except 1st
print(a[:2]) #Print elements upto 2nd element
print(a+b) #Concatenate 2 list

[1, 2, 3, 4, 5] ['Champ', 21, 99.5]
3
Champ
[2, 3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5, 'Champ', 21, 99.5]

In [ ]:
a = [1,2,3,4,5]
a.append(6) #inserting new elements to the existing list
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1,2,3,4,5]
a.reverse() #Reverse list
print(a)
print(min(a)) #Minimum
print(max(a)) #Maximum

[5, 4, 3, 2, 1]
1
5

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[a,b] #Nested List Matrix
print(c)
print(c[0]) #Printing row
print(c[0][0]) #Printing 1st element
print(c[0][1])
print(c[1][0])
print(c[1][1])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
1
2
4
5

In [ ]:
a = [1,2,3,4,5]
from random import shuffle
shuffle(a)

#4. DICTIONARIES

###Creating Dictionary : Key & Value

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
a

{'Age': 50, 'Company': ['SpaceX', 'Tesla'], 'Name': 'Elon'}

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
print(a["Name"]) #Printing value based on its Key
a["Age"]= 51 #Changing values
a

Elon

{'Age': 51, 'Company': ['SpaceX', 'Tesla'], 'Name': 'Elon'}

In [ ]:
b={"Climate":{"Condition":{"Temperature":"38 Degree","Humidity":"70 Percentage"}}}
print(b["Climate"]["Condition"]["Humidity"])
print(b["Climate"]["Condition"]["Temperature"])

70 Percentage
38 Degree

In [ ]:
print(a.keys()) #Printing Keys of the Dictionaries
print(a.values()) #Printing Values of the Dictionaries
print(a.items()) #Printing Tuple of the all items

dict_keys(['Name', 'Age', 'Company'])
dict_values(['Elon', 51, ['SpaceX', 'Tesla']])
dict_items([('Name', 'Elon'), ('Age', 51), ('Company', ['SpaceX', 'Tesla'])])

#5. TUPLES

###Creating Tuples

In [ ]:
a = ("Champ",21,99.5)
a

('Champ', 21, 99.5)

In [ ]:
print(len(a)) #Length of tuple
print(a[0]) #Printing elements from tuple via index
print(a.index("Champ")) #Getting Index of Elements

3
Champ
0

#6. SETS

##Creating Set

In [ ]:
a = set()
a.add("Champ")
a
a.add(30)
a

{30, 'Champ'}

In [ ]:
b = ["Champ",21,99.5]
set(b)

{21, 99.5, 'Champ'}

#7. BOOLEAN

###Creating Boolean

In [ ]:
a = True

In [ ]:
a=False

In [ ]:
a = 10
b = 5
c=15
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b and c>a)
print(a<b or c>a)

False
True
False
True
False
True
False
True

#8.Python Statements

###If

In [ ]:
a = True
if a:
  print("Positive")
else:
  print("negative")

Positive

In [ ]:
a = False
if a:
  print("Positive")
else:
  print("negative")

negative

In [ ]:
a=10
b=6
c=6

if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
  print("a is not less than b")
  if c<a:
    print("c is less than b")
else:
  print("a is not less than b")

a is equal to b
a is not less than b
c is less than b

#For

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

### Display in the form of list

In [ ]:
a = [i for i in 'Champ']
a

['C', 'h', 'a', 'm', 'p']

#Odd & Even Number

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i % 2 == 0:
    print(i,"Even Number")
  else:
    print(i,"Odd Number")

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number

#String - For

In [ ]:
for a in "Hello all":
  print(a)

H
e
l
l
o

a
l
l

#Dictionary - For

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
for k,v in a.items():
  print(k)
  print(v)
  #print(v)

Name
Elon
Age
50
Company
['SpaceX', 'Tesla']

#While

In [ ]:
a=0
while a <11:
  print(a)
  a+=1 #a=a+1

0
1
2
3
4
5
6
7
8
9
10

#While - Break & Continue

In [ ]:
a=0
while a < 10:
  print(a)
  a+=1
  if a==5:
    print("a is equal to 5")
    break
  else:
    print("Continueeee")
    continue

0
Continueeee
1
Continueeee
2
Continueeee
3
Continueeee
4
a is equal to 5

#Range

In [ ]:
for a in range (6):
  print(a)

0
1
2
3
4
5

In [ ]:
for a in range (1,10,1):
  print(a)

1
2
3
4
5
6
7
8
9

In [ ]:
for a in range (1,10,2):
  print(a)

1
3
5
7
9

In [ ]:
for a in range (10,0,-2):#decreament by 2
  print(a)

10
8
6
4
2

In [ ]:
for a in range (10,0,-3):
  print(a)

10
7
4
1

#Root

In [ ]:
a = [i**2 for i in range(0,5)]
a

[0, 1, 4, 9, 16]

In [ ]:
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

##Enumerate - To track no. of iteration in the loop, without working with variable increament

In [ ]:
a=0
for i,a in enumerate("Hello Champ"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 C
7 h
8 a
9 m
10 p

##Zip - Creating a tuples by zipping 2 list

In [ ]:
a = ["Name","Age","Country"]
b = ["Champ",27,"India"]
list(zip(a,b))

[('Name', 'Champ'), ('Age', 27), ('Country', 'India')]